@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');
<!-- da para usar o mesmo ARQUIVO, só preciso mudar as CLASSES antes -->
<!-- da para usar o mesmo ARQUIVO, só preciso mudar as CLASSES antes -->
<!-- NÃO PRECISO CRIAR VÁRIOS ARQUIVOS CSS E HTML, SÓ PRECISO MUDAR A CLASSE  -->

body { /* é necessário para dizer o tamanho da página*/
    height: 100vh;
    margin: 0;

}
.box { 
    height: 200px;
    width: 200px;
    background-image: url(https://source.unsplash.com/random);
   
}
.box::after {

    content: "olá mundo";
    color: white;
    letter-spacing: 10px;
    font-size: 20px;
}
.teste {
    height: 200px;
    width: 200px;
    background-image: url(https://source.unsplash.com/random);
}
.teste::after {
    content: "olá mundo";
    color: red;
    letter-spacing: 10px;
    font-size: 20px;
}
.a {
    height: 200px;
    width: 200px;
    background-image: url(https://source.unsplash.com/random);

}
.a::after {
    content: "olá mundo";
    color: red;
    letter-spacing: 10px;
    font-size: 20px;
}

