@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:'Josefin Sans', sans-serif;
}

body {
    height: 100vh;
    background:linear-gradient( 160deg, #7FFFD4 , #8A2BE2); 
   display: flex;
   align-items: center;
   justify-content: center;
}
/* deg = quer dizer quantos graus vai ficar cada */
/* justify-content = mexe nos elementos da tela HORIZONTALMENTE */
/* align-itens = mexe nos elementos da tela VERTICALMENTE */

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}
/* voce muda o display pra FLEX, para os elementos se alinharem */
/* background :transparent = o fundo do relogio, vai ficar da cor do fundo do site */
/* justify-content: space-around = ele espalha/separa os ELEMENTOS um do lado do outro de forma IGUAL, com os mesmos espaçoes */
.clock div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    letter-spacing: 4px;
    border-radius: 25px;

}
/* flex-direction:column = para os elementos ficarem um em cima do outro */
/* border radius = para deixar a caixa arredondada */

.clock a{
    font-weight: bolder;
    font-size: 80px;
}
.clock a.time {
    font-size: 17px;
}

